@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald-Regular.woff") format("woff");
	/* lembra de incluir formato otf para IE < 9 */
}

body {
	padding: 0;
	margin: 0;
	font-family: "Lucida Sans Unicode", sans-serif;
	/* adotando padrão do navegador do usuário */
	font-size: 1em;
	color: #fff;
	text-align: center;
	/* definindo o tamanho mínimo do body para dispositivo mobile */
	min-width: 320px;
}

/* float precisa ser aplicado no pai e nos filhos. quando se aplica float, o position muda de static para relative */

div {
	width: 100%; /* centraliza o elemento perante ao centered */
	padding: 10px;
	/* box-sizing adapata o tamanho do padding ao da div */
	box-sizing: border-box;
}

/* Títulos aopresentam padding por padrão */

h1, h2, h3 {
	font-family: "Oswald";
	padding: 0;
	margin: 0;
	font-weight: 900: 
}

/* Trabalhando com excessões */

h1 {
	font-size: 3em;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	padding-bottom: 2vw; /* viewport-width unidade de medida que leva em consideração a resolução da tela */
}

h3 {
	font-size: 1.5em;
	text-transform: uppercase;
}

#cabecalho {
	background-color: #ffffff;
	float: left;
	transition: all 0.2s linear; /* usar linear quando quiser setar ease in e out */
	box-shadow: 0 2px 4px #333; /* eixo x, eixo y, glow, cor*/
}

#sobre {
	padding: 40px 0;
	background-color: #cccccc;
	clear: both;
	background: url('../images/bg.jpg');
	/* fazendo com que a imagem não se repita independente da resolução */
	background-repeat: no-repeat;
	/* centralizando a imagem no tamanho da div (x,y) */
	background-position: center center;
	/* imagem alcançando limites da div que ela está. se adapta de acordo com o tamanho da tela */
	background-size: cover;
	/* posição fixa da imagem */
	background-attachment: fixed;
}

#servicos {
	padding: 40px 0;
	background-color: #919191;
}

#contato {
	padding: 40px 0;
	background-color: #606060;
}

.centered {
	/* centralizando as divs por causa do 100% herdado setado acima*/
	max-width: 1024px;
	margin: 0 auto;
	transition: all 0.2s linear; /* usar linear quando quiser setar ease in e out */
}

/* setando posição fixed para sticky */

#cabecalho.sticky {
	position: fixed;
	top: 0;
	z-index: 999; /* garantir sempre que esteja acima */
	/* setando transition para a animação não ser abrupta */
}

#cabecalho.sticky #logo {
	padding: 5px 0 0 0;
	transition: all 0.2s linear;

}

#cabecalho.sticky #logo img {
	max-height: 36px;
	transition: all 0.2s linear;
}

#cabecalho.sticky #menu {
	padding: 5px 0 0 0;
	transition: all 0.2s linear;
}

#cabecalho.sticky .centered {
	padding-top: 0;
	transition: all 0.2s linear;

}

#logo {
	float: left;
	width: 30%;
	text-align: left;
	padding: 15px 0 15px 15px;
	transition: all 0.2s linear; /* usar linear quando quiser setar ease in e out */
}

	/* adicionando transition nos elementos garantindo que eles já tenham a propriedade antes da classe sticky ser aplicada */
	/* cabecalho, logo, logo img, menu */

#logo img {
	/* setando o tamanho da imagem do logo */
	padding: 0;
	margin: 0;
	max-height: 40px;
	min-width: 36px; 
	transition: all 0.2s linear; /* usar linear quando quiser setar ease in e out */
}

/* penetrando na hierarquia do menu */


#menu {
	float: right;
	width: 60%;
	text-align: right;
	padding: 15px 15px 15px 0px;
	transition: all 0.2s linear;
	/*  */
	position: relative;
}

#menu ul { 
	display: none; 
	/* absoluto após o elemento relative acabar*/
	position: absolute;
	list-style-type: none;	
}

/* classe do id representado pelo elemento do menu hamburguer */
#menu_lista.showup {
	display: block;
	background-color: #fff;
	right: -40px;
	margin: 0;
	padding: 16px 0;
}

#menu_lista.showup li {
	padding: 16px 56px;
}

#menu .icon	{
	display: inline-block;
	cursor: pointer;
	max-height: 38px;
	max-width: 38px;
}

@media only screen and (min-width: 768px) {

	#menu_list.showup {
		background-color: transparent;
		right: 0;
		margin-bottom: 0;
		padding: 0;
		display: inline-block;
	}

	#menu .icon{
		display: none;
	}

	#menu ul {
		/* retira marcação da lista ordenada */
		display: inline-block;
		list-style: none;
		position: static;
	}	

	#menu ul li {
		/* conserva o padding no click (inline-block )*/
		display: inline-block;
	}

	#menu ul li a {
		text-decoration: none; /* remove underline */
		color: #000;
		text-transform: uppercase;
		font-size: 1em;
	}

	/* seletores dinâmicos hover, */
	#menu ul li a:hover {
		color: orange;
		text-decoration: underline;
	}

}



#servicos .servico {
	/* setando o tamanho relativo dos 3 blocos de serviço */
	width: 30%;
	display: inline-block;
	text-align: left;
	padding: 0;
	/* definindo tamanho mínimo para a div manter o seu tamanho indepentende da resolução */
	min-width: 300px;	
	margin-bottom: 2vw;
}

#servicos .servico img {
	/* setando que a imagem ocupe 100% do espaço da div pai no qual ela está */
	width: 100%;
	margin: 0;
	padding: 0;
	/* remove espaçamento em relação a div abaixo */
	display: block;
}

#servicos .servico .descricao {
	background-color: red;
}


#contato table {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	text-align: left;
	/* setando tamanho da tabela */
	max-width: 600px;
	/* alinhando o conteúdo ao centro */
	margin:	0 auto;
}

/* reaproveitando */
#contato table input, #contato table textarea {
	width: 100%;
	box-sizing: border-box;	
	border: 1px solid #666;
}

#contato table label {
	display: block;
}

#contato table input:focus,
/* dinâmicos: focus aplica clase quando o input está selecionado */
#contato table textarea:focus {
	border-bottom: 3px solid orange;
}

#contato table input[type="text"],
#contato table input[type="email"] {
	padding: 8px 16px;
	border-radius: 4px;
}

#contato table input[type="submit"] {
	border-radius: 4px;
	padding: 12px 0;
	background-color: #440668;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 3px solid #360851; 
}

#contato table input[type="submit"]:hover {
	background-color: #6e209b;
	cursor: pointer;
}

.required {
	box-shadow: 0px 0px 10px #ff0000;
}