#container {
	width: 600px;
	background-color: green;
	margin: 0 auto;
	/* float deixa o padding para fora */
	padding: 10px;
}

.img {
	width: 70%;
	float: left;
	height: 100px;
	background-color: orange;
	color: #fff;

}

.txt {
	width: 30%;
	float: right;
	height: 100px;
	background-color: red;
	color: #fff;
}
