#container {
	width: 600px;
	height: 400px;
	background-color: green;
	margin: 0 auto;
	/* float deixa o padding para fora */
	padding: 10px;
}

.img {
	width: 10%;
	float: left;
	height: 100px;
	background-color: orange;
	color: #fff;
}

/* manipula o elemento seguinte pela sequência do html */
/* .img + .txt são elementos irmãos */
.img:hover + .txt{
	/* 
	translate(x,y) => movimentar
	translateX, translateY
	scale(x,y) => dimensionar
	scaleX, scaleY
	rotate(20deg) => rotacionar
	skew(x,y) em deg (distorce o ângulo das laterais)
	skewX, skewY
	*/
	transform: translate(-40px, 40px) scale(1.5, 1.5) rotate(20deg) skew(15deg, 15deg); /* necessita valor x e y */
}

.txt {
	width: 30%;
	float: right;
	height: 100px;
	background-color: red;
	color: #fff;
	/* recebendo a animação do hover. linear deixa a velocidade inicial e final igual */
	/* ease-in, ease-out, linear*/
	transition: all 0.2s linear;
}
